.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  margin-left: 100px;
  border: 1px solid;
}

th{
  border: 1px solid;
  
}

td{
  border: 1px solid;
  
}

carddiv{
  margin-left: 50px;
}

.carddiv{
  width: 30rem;
  margin-left: 2rem;
  margin-right: 10rem;
  margin-top: 2rem;
}

img{
  width:100px;
  height: 200px;
}

.card-title{
  color :rgb(230, 103, 103) ;
}
