@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0.5rem;
    font-family: 'Roboto';
    text-align: center;
}

nav {
    border: 2px solid #333;
    border-radius: 2rem;
    max-width: 600px;
    margin: 0 auto 1rem;
    font-size: 3rem;
    line-height: 7rem;
}

h2 {
    padding: 1rem;
    background-color: gold;
    border-radius: 2rem 2rem 0 0;
}

ul {
    list-style-type: none;
}

li {
    border-top: 3px solid #333;
}

li a{
    display: block;
}

li a,
li a:visited{
    text-decoration: none;
}

li a:hover,
li a:focus {
    background-color: cyan;
    color: aliceblue;
}

li:last-child a{
    border-radius: 0 0 30px 30px;
}